@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Store.Models.Animal
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
        <link type="text/css" rel="stylesheet" href="~/css/details.css" />

</head>
<body>
         <div class="card">
     <h1 class="animalName">Animal:  @Model.Name</h1>
     <img class="animalPic" src="@Model.PictureSrc" />
     <ul>
         <li class="line">The age of the animal: @Model.Age</li>
         <li class="line">Description: @Model.Description</li>
 
    </ul>
    <div>
          comments:
          @foreach(var comment in @Model.Comments!.Select(c => c.Content))
            {
                <p>@comment</p>
            }
    </div>

 <a asp-action="index" asp-controller="Admin">Back to all animal</a>
        </div>

</body>
</html>
